:root {
  --nav-bar-size: 4rem;
  --black: #000000;
  --dark-grey: #212121;
  --grey: #303030;
  --light-grey: #424242;
  --error: #e50000;
  --correct: #30b630;
  --white: #fafafa;
  --purple: #29293d;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
  &:visited {
    color: inherit;
  }
}
a {
  color: inherit;
}
html,
body {
  min-height: 100vh;
  color: var(--white);
  background: var(--grey);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
button {
  background-color: var(--white);
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  color: var(--black);
  &:hover {
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
    cursor: pointer;
  }
  &:active {
    color: var(--white);
    background-color: var(--black);
    cursor: default;
  }
}
.button {
  &-toggle {
    // double -- because it is a modifier
    &--on {
      background-color: var(--correct);
    }
    &--off {
      background-color: var(--error);
    }
  }
}

.two-by-three-grid-page {
  display: grid;
  width: 100vw;
  height: calc(100vh - var(--nav-bar-size));
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  // ensures grid item are the same size
  // Can toggle off for debugging
  > * {
    overflow: hidden;
  }
}
